/**
 * ***************************************
 * ページ全体に関わるCSSの設定
 * ***************************************
 */


/* フォント */

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    /* Noto Sans JPのレギュラーウェイトを指定 */
    background-color: #000;
}


/* おもな太字タグのフォントウェイト設定 */

h1,
h2,
h3,
h4,
h5,
h6,
th,
strong {
    font-weight: 700;
}


/* ベースのリンクカラー */

a {
    color: #f30;
}


/* レスポンシブイメージと画像下スペース防止 */

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
    /* 画像下のスペースを消す */
}

.top h2 {
    font-size: 30px;
    letter-spacing: 2px;
}

.font-noto-serif-jp {
    font-family: 'Noto Serif JP', serif;
    font-weight: 400;
}


/**
 * ***************************************
 * メインビジュアルコンテナ
 * ***************************************
 */

.page-mv {
    background-image: url(../images/MV.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.mv-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    text-align: center;
    color: #fff;
}

.mv-container img {
    margin: 30px auto 0 auto;
    width: 164px;
}

.mv-container h1 {
    font-size: 93px;
}

@media (min-width: 768px) {
    .mv-container img {
        width: 470px;
    }
}

.mv-lead-vertical {
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-orientation: upright;
    -webkit-text-orientation: upright;
    width: 100%;
    padding: 0 20px 0 0;
    align-content: flex-end;
    font-family: 'Noto Serif JP', serif;
    letter-spacing: 6px;
}

@media (min-width: 768px) {
    .mv-lead-vertical {
        font-size: 1.2rem;
    }
}

.mv-lead-combine {
    -webkit-text-combine: horizontal;
    -ms-text-combine-horizontal: all;
    text-combine-upright: all;
    padding: 0 0 6px 0;
    font-size: 1.42rem;
}

@media (min-width: 768px) {
    .mv-lead-combine {
        font-size: 1.75rem;
    }
}

.mv-lead-enphasis-big {
    color: #AF0000;
    font-size: 1.42rem;
}

@media (min-width: 768px) {
    .mv-lead-enphasis-big {
        font-size: 1.75rem;
    }
}

.mv-bottom {
    margin: 0 auto 30px auto;
}

.mv-bottom p {
    font-size: 1.5625rem;
    font-weight: bold;
    letter-spacing: 2px;
}

@media (min-width: 768px) {
    .mv-bottom p {
        font-size: 1.75rem;
    }
}


/**
 * ***************************************
 * メインコンテナ
 * ***************************************
 */

.top .main-container {
    padding: 100px 4% 0 4%;
    text-align: center;
    color: #fff;
}

@media (min-width: 768px) {
    .top .main-container {
        max-width: 840px;
        margin: 0 auto;
    }
}

.intro {
    margin-bottom: 100px;
}

.intro-copy {
    padding: 30px 0 0 0;
}

@media (min-width: 768px) {
    .intro-copy {
        font-size: 2.125rem;
    }
}

.enphasis-big {
    color: #AF0000;
    font-size: 1.42rem;
}

@media (min-width: 768px) {
    .enphasis-big {
        font-size: 2.5rem;
    }
}

.intro-lead {
    line-height: 30px;
}

.intro-lead p {
    padding: 30px 0 0 0;
}

.news {
    margin-bottom: 100px;
}

.news h2 {
    margin-bottom: 30px;
}

.news-list {
    text-align: left;
    line-height: 30px;
}

.news-item {
    margin-bottom: 30px;
}


/**
 * ***************************************
 * フッターコンテナ
 * ***************************************
 */

footer {
    background-color: #000;
}

.footer-container {
    padding: 100px 20px 30px 20px;
    text-align: center;
    color: #fff;
}

@media (min-width: 768px) {
    .top .footer-container {
        max-width: 640px;
        margin: 0 auto;
    }
}

.sns a,
.hashtag a {
    color: #fff;
}

.sns {
    margin-bottom: 30px;
    font-size: 1.92rem;
    letter-spacing: 1rem;
}

.hashtag {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 15px;
    column-gap: 10px;
}

.hashtag :nth-child(1) {
    transform: rotate( -5.88deg);
}

.hashtag :nth-child(2) {
    transform: rotate( 4.96deg);
}

.hashtag :nth-child(3) {
    transform: rotate( 3.38deg);
}